Join the data from Part 1 with the data from Part 2 to create a new dataframe.

In [10]:
# imports
import numpy as np
import pandas as pd
import os
import requests

In [14]:
# import CSVs
city_bike_data = pd.read_csv('../data/CityBikeCoordWithBikeNum.csv')
city_bike_df = city_bike_data.round(2)
yelp_restaurent_data_df = pd.read_csv('../data/Yelp_Restaurant_Data.csv')

In [15]:
yelp_restaurent_data_df

,name,rating,pricing,review_count,street address,Is Closed,Contact#,latitude,longitude
0,La Luna,3.8,2.0,66,306 King Street W,False,1.905577e+10,43.26,-79.88
1,Bardō Locke Street,4.3,2.0,293,258 Locke Street S,False,1.905522e+10,43.25,-79.89
2,Pho Nhung,4.4,NaN,18,85 Queen St N,False,1.905526e+10,43.26,-79.88
3,The Ship,4.1,2.0,207,23 Augusta Street,False,1.905526e+10,43.25,-79.87
4,The Coop,3.8,2.0,43,274-274 King Street W,False,1.289778e+10,43.26,-79.88
...,...,...,...,...,...,...,...,...,...
2798,Gage Park Diner,4.1,2.0,7,975 Main Street E,False,1.289390e+10,43.25,-79.83
2799,The Parlour Dairy Bar,4.5,NaN,2,224 Ottawa St N,False,1.289390e+10,43.25,-79.82
2800,Willard’s Ice Cream,4.7,NaN,7,942 Main St E,False,NaN,43.25,-79.83
2801,Mike's Subs,3.8,1.0,9,122 Ottawa Street N,False,1.905545e+10,43.25,-79.82
2802,Crown & Press,5.0,NaN,1,303 Ottawa Street N,False,1.905543e+10,43.25,-79.82

In [16]:
city_bike_df

     available_bikes  longitude  latitude
0                  3     -79.88     43.26
1                 12     -79.87     43.27
2                  5     -79.87     43.27
3                  7     -79.87     43.26
4                  0     -79.87     43.26
..               ...        ...       ...
139                8     -79.87     43.26
140                4     -79.91     43.26
141                9     -79.87     43.25
142                8     -79.91     43.26
143                1     -79.82     43.25

[144 rows x 3 columns]

Provide a visualization that you used as part of your EDA process. Explain the initial pattern or relationship you discoved through this visualization.

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

Look at the data before and after the join to validate your data.