In [4]:
import requests
import pandas as pd

# Make the request to the API
response = requests.get('http://api.citybik.es/v2/networks/sobi-hamilton')

# Check if the request was successful
if response.status_code == 200:
    data = response.json()  # Parse the JSON response

    # Extract station information
    stations = data['network']['stations']

    # list of dictionaries with longitude and latitude for each station
    station_locations = [{'available_bikes': station['free_bikes'], 'longitude': station['longitude'], 'latitude': station['latitude']} for station in stations]

    # Create a pandas DataFrame
    df = pd.DataFrame(station_locations)

    print(df)
else:
    print("Request failed with status code:", response.status_code)

     available_bikes  longitude   latitude
0                  5 -79.877212  43.259126
1                  6 -79.871327  43.269288
2                  4 -79.867923  43.267859
3                  4 -79.871803  43.263198
4                  4 -79.874499  43.256132
..               ...        ...        ...
139                2 -79.868487  43.257635
140                3 -79.907480  43.264869
141                7 -79.869533  43.253330
142                4 -79.905088  43.262015
143                7 -79.818050  43.247565

[144 rows x 3 columns]

In [5]:
df

     available_bikes  longitude   latitude
0                  5 -79.877212  43.259126
1                  6 -79.871327  43.269288
2                  4 -79.867923  43.267859
3                  4 -79.871803  43.263198
4                  4 -79.874499  43.256132
..               ...        ...        ...
139                2 -79.868487  43.257635
140                3 -79.907480  43.264869
141                7 -79.869533  43.253330
142                4 -79.905088  43.262015
143                7 -79.818050  43.247565

[144 rows x 3 columns]