In [9]:
# imports
import numpy as np
import pandas as pd
import os
import requests
import foursquare
import json

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [151]:
# API URL and API token stored as an environment variable
url = "https://api.foursquare.com/v3/places/search?query=restaurant"
client_access_token = os.environ['FOURSQUARE_AUTH_TOKEN']

# get response in json while passing API token in the header
headers = {
    "Accept": "application/json",
    "Authorization": client_access_token
}

# API call parameters
params = {
  	"radius": "1000",
    "near": "Toronto,ON",
    "open_now": "true",
    "sort": "RATING",
}
# API reponse
response = requests.get(url, headers=headers)

# get text from response in json object
data = json.loads(response.text)

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [152]:
# create a new dataframe we will append to
results =[]

#iterate through results "data['results]" will give iterate through json data from one level down
for result in data['results']:
    name = result['name']
    location = result['location']

    categories = []
    for category in result['categories']:
        categories.append(category['name'])

    result_dict = {
        'name': name,
        'location': location,
        'categories': categories
    }
    # add respective POI in list object
    results.append(result_dict)

Put your parsed results into a DataFrame

In [153]:
# store results in dataframe
df = pd.DataFrame(results)
df

,name,location,categories
0,August Restaurant,"{'address': '5204 King St', 'address_extended'...","[Restaurant, Winery]"
1,Memphis Fire Barbeque Co,"{'address': '1091 Hwy 8', 'address_extended': ...","[BBQ Joint, Fast Food Restaurant]"
2,The Innsville,"{'address': '1143 Hwy No 8', 'country': 'CA', ...",[Restaurant]
3,Your Neighbourhood Pizza Co,"{'address': '5008 King St', 'country': 'CA', '...",[Pizzeria]
4,Conversations Cafe,"{'address': '4985A4 King St', 'country': 'CA',...","[Café, Coffee Shop, Restaurant]"
5,Edgewater Manor,"{'address': '518 Fruitland Rd', 'country': 'CA...","[Diner, American Restaurant, Italian Restaurant]"
6,Pita Pit,"{'address': '301 Fruitland Rd', 'address_exten...","[Sandwich Spot, Restaurant]"
7,Chuggy's Tap & Grill,"{'address': '390 Barton St', 'address_extended...","[Burger Joint, American Restaurant, Fast Food ..."
8,Rony's,"{'address': '312 Grays Rd', 'country': 'CA', '...",[Restaurant]
9,Lake House Restaurant,"{'address': '3100 N Service Rd', 'country': 'C...",[Restaurant]

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Put your parsed results into a DataFrame

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Get the top 10 restaurants according to their rating